torf
guessit
ffmpeg-python
pymediainfo==6.0.1
tmdbsimple
anitopy
cli-ui
qbittorrent-api
deluge-client
pyrobase
requests
cinemagoer
pyimgbox
nest_asyncio
bencode.py
unidecode
beautifulsoup4
pyoxipng
rich
Jinja2
pyotp
str2bool
click
aiohttp
Pillow
tqdm
urllib3